In [7]:
import opendatasets as od
import pandas as pd
import numpy as np

# Eric's Kaggle API key
# "username":"ericthedataguy",
# "key":"875c0de0faea2fefa081c78eb470a347"

url_original = "https://www.kaggle.com/jiashenliu/515k-hotel-reviews-data-in-europe"

od.download("url_original",)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:Your Kaggle Key:Downloading 515k-hotel-reviews-data-in-europe.zip to ./515k-hotel-reviews-data-in-europe

100%|██████████| 45.1M/45.1M [00:00<00:00, 53.7MB/s]

In [4]:
import opendatasets as od

# Eric's Kaggle API key
# "username":"ericthedataguy",
# "key":"875c0de0faea2fefa081c78eb470a347"

url_cleaned = 'https://www.kaggle.com/datasets/ericthedataguy/cleaned-hotel-review-for-ba820'

od.download(url_cleaned)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:Your Kaggle Key:Downloading cleaned-hotel-review-for-ba820.zip to ./cleaned-hotel-review-for-ba820

100%|██████████| 45.1M/45.1M [00:01<00:00, 35.1MB/s]

In [8]:
df = pd.read_csv("515k-hotel-reviews-data-in-europe/Hotel_Reviews.csv")
df.head()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Hotel_Address                               515738 non-null  object
 1   Additional_Number_of_Scoring                515738 non-null  int64
 2   Review_Date                                 515738 non-null  object
 3   Average_Score                               515738 non-null  float64
 4   Hotel_Name                                  515738 non-null  object
 5   Reviewer_Nationality                        515738 non-null  object
 6   Negative_Review                             515738 non-null  object
 7   Review_Total_Negative_Word_Counts           515738 non-null  int64
 8   Total_Number_of_Reviews                     515738 non-null  int64
 9   Positive_Review                             515738 non-null  object
 10  Review_Total_Positive_Word_Counts           515738 non-null  int64
 11  Total_Number_of_Reviews_Reviewer_Has_Given  515738 non-null  int64
 12  Reviewer_Score                              515738 non-null  float64
 13  Tags                                        515738 non-null  object
 14  days_since_review                           515738 non-null  object
 15  lat                                         512470 non-null  float64
 16  lng                                         512470 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 66.9+ MB

In [7]:
df['Review_ID'] = df.index


subset = df[['Review_ID', 'Hotel_Name', 'Average_Score', 'Reviewer_Score', 'Tags']]
subset.head()

,Review_ID,Hotel_Name,Average_Score,Reviewer_Score,Tags
0,0,Hotel Arena,7.7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double..."
1,1,Hotel Arena,7.7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double..."
2,2,Hotel Arena,7.7,7.1,"[' Leisure trip ', ' Family with young childre..."
3,3,Hotel Arena,7.7,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex..."
4,4,Hotel Arena,7.7,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St..."

In [46]:
subset.loc['Positive'] = (subset['Reviewer_Score'] > subset['Average_Score'])

tags_by_hotel = df.groupby('Hotel_Name')['Tags'].agg(lambda x: set(x)).reset_index()
tags_by_hotel['Tags'] = tags_by_hotel['Tags'].apply(lambda x: ', '.join(x))
tags_by_hotel.head()

,Hotel_Name,Tags
0,11 Cadogan Gardens,"[' Leisure trip ', ' Couple ', ' Superior Quee..."
1,1K Hotel,"[' Business trip ', ' Group ', ' Superior M Do..."
2,25hours Hotel beim MuseumsQuartier,"[' Leisure trip ', ' Solo traveler ', ' Standa..."
3,41,"[' Leisure trip ', ' Couple ', ' Luxury Suite ..."
4,45 Park Lane Dorchester Collection,"[' Leisure trip ', ' Couple ', ' Superior King..."

In [68]:
def hotel_recommendation_system(review_id=0):
    # Get the review details based on the Review_ID
    review = subset.loc[subset['Review_ID'] == review_id]

    # Check if the review is positive
    if review['Positive'].values[0] == 1.0:
        # Get the tags of the current review
        review_tags = review['Tags'].values[0]

        # Find the matching hotel names based on tags using NLTK
        matching_hotels = tags_by_hotel[tags_by_hotel['Tags'].apply(lambda x: len(set(review_tags).intersection(set(x))) >= 2)]

        # Exclude the original hotel name from the matching hotels
        matching_hotels = matching_hotels[matching_hotels['Hotel_Name'] != review['Hotel_Name'].values[0]]

        # Get the top 3 most matching hotel names (if any)
        recommended_hotels = matching_hotels['Hotel_Name'].head(3).tolist()

        # Print the recommendation details
        print("Here's our recommendations for you!")
        print("Original Hotel Name:", review['Hotel_Name'].values[0])
        print("Review Score:", review['Reviewer_Score'].values[0])
        print("Recommended Hotel Names:", recommended_hotels)

    else:
        # Print a message for negative reviews
        print("We are sorry for your dissatisfactory experience.")

In [69]:
hotel_recommendation_system(review_id=7)

Here's our recommendations for you!
Original Hotel Name: Hotel Arena
Review Score: 10.0
Recommended Hotel Names: ['11 Cadogan Gardens', '1K Hotel', '25hours Hotel beim MuseumsQuartier']

In [21]:
subset[subset['Positive'] == 1.0]

,Review_ID,Hotel_Name,Average_Score,Reviewer_Score,Tags,Positive
7,7.0,Hotel Arena,7.7,10.0,"[' Leisure trip ', ' Couple ', ' Duplex Double...",1.0
9,9.0,Hotel Arena,7.7,7.9,"[' Leisure trip ', ' Couple ', ' Large King Ro...",1.0
10,10.0,Hotel Arena,7.7,10.0,"[' Leisure trip ', ' Group ', ' Duplex Double ...",1.0
13,13.0,Hotel Arena,7.7,9.2,"[' Business trip ', ' Solo traveler ', ' Duple...",1.0
14,14.0,Hotel Arena,7.7,8.8,"[' Leisure trip ', ' Family with young childre...",1.0
...,...,...,...,...,...,...
515724,515724.0,Atlantis Hotel Vienna,8.1,8.3,"[' Leisure trip ', ' Family with young childre...",1.0
515729,515729.0,Atlantis Hotel Vienna,8.1,10.0,"[' Leisure trip ', ' Couple ', ' Standard Doub...",1.0
515732,515732.0,Atlantis Hotel Vienna,8.1,10.0,"[' Leisure trip ', ' Family with young childre...",1.0
515736,515736.0,Atlantis Hotel Vienna,8.1,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",1.0
515737,515737.0,Atlantis Hotel Vienna,8.1,8.3,"[' Leisure trip ', ' Family with young childre...",1.0